.win_text{
    color: white;
}

#login{
    background-color: #8b5adc;
}

#blur{
    width: 250px;
    height: 250px;
    background-size: 100%;
    background-image: url(/themes/purpleclouds.png);
}

#top_bar, #bottom_bar{
    background-color: #37009C;
}
#top_bar div{
    background: linear-gradient(to right, #340399, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
    background: linear-gradient(to right, #8934AE, #37009C);
}
#bottom_bar div{
    background: linear-gradient(to right, #340399, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
    background: linear-gradient(to right, #4A00A9 0% 30%, #8b5adc);
}

#readme_block{
    color: #444444;
}

/*CHATBAR*/
#chatbar_cont{
    background-color: #442D7E;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #7050C0, rgba(0,0,0,0) 20% 100%), linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255, 255, 255, 0.05));
}

#chatbar{
    position: absolute;
    top: 6px;
    left: 5px;
    font-size: 15px;
    width: calc(100% - 132px);
}
#tile{
    background-image: url(/img/tile.png), linear-gradient(to right, #5e4899 7%, rgba(0,0,0,0) 12% 88%), linear-gradient(to bottom, #5e4899 7%, rgba(0,0,0,0) 12% 88%, #5e4899 93% 100%);
    background-color: #452E81;
}

#send_button{
    position: absolute;
    right: 0px;
    background: white;
}

#send_button span{
    color: black;
    left: -20px;
}

#log_cont{
    background: #898989;
    border: 1px solid transparent;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
}

#log_body{
    background: black;
    padding: 10px 5px 50px 5px;
    overflow-y: scroll;
    color: white;
}

.msWindow_body{
    color: white;
    background: #424142;
}

/* thank you jy */

.msWindow_cont {
    position: absolute;
    box-sizing: border-box;
    background: #cccccc;
    border: 4px solid #ffffff;
    padding: 0px 5px 5px 5px;
    border-radius: 6px;
    z-index: 1;
}

.msBtn {
    clear: left;
    font-size: 13px;
    padding: 12px 36px;
    background-color: #F5F5F5;
    border: 2px outset #F5F5F5;
    outline: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
}
