#login{
    background-color: #DCC35A;
}

#blur{
    width: 250px;
    height: 250px;
    background-size: 100%;
    background-image: url(/themes/yellowclouds.png);
}

#banner {
    background: rgb(254 253 108);
    background: linear-gradient(0deg, rgb(254 251 108) 0%, rgb(226 215 51) 19%, rgb(193 177 37) 44%, rgb(175 164 34) 84%, rgb(201 194 62) 93%, rgb(255 241 103) 100%);
}

#top_bar, #bottom_bar{
    background-color: #9c7f00;
}
#top_bar div{
    background: linear-gradient(to right, #998703, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
    background: linear-gradient(to right, #ae8634, #9c6f00);
}
#bottom_bar div{
    background: linear-gradient(to right, #999203, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
    background: linear-gradient(to right, #a9a100 0% 30%, #DCC35A);
}

#readme_block{
    color: #444444;
}

#content{
    background-color: #666320;
}

/*CHATBAR*/
#chatbar_cont{
    background-color: #7e7a2d;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #c0ba50, rgba(0,0,0,0) 20% 100%), linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255, 255, 255, 0.05));
}

#chatbar{
    position: absolute;
    top: 3px;
    font-size: 15px;
    width: calc(100% - 132px);
}
#tile{
    background-image: url(/img/tile.png), linear-gradient(to right, #998c48 7%, rgba(0,0,0,0) 12% 88%), linear-gradient(to bottom, #998c48 7%, rgba(0,0,0,0) 12% 88%, #998c48 93% 100%);
    background-color: #81772e;
}



#log_cont, .msWindow_cont{
    border: 1px solid #5c4b00;
    background: linear-gradient(180deg, rgba(0,0,0,0) 28px, rgba(0,0,0,0.25) 31px, rgba(0,0,0,0) 31px), linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(0,0,0,0) 5px), linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1) 31px), linear-gradient(180deg, rgba(0,0,0,0) 0px, rgba(255, 255, 255, 0.05) 31px, rgba(0,0,0,0) 31.2px), linear-gradient(180deg, #998b18 0px, #998418 32px, rgba(0,0,0,0) 32px), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), #ad8c00;
}
